<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">All conferences</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/my-conferences' ? 'active' : '' %>" href="/myconference">My conferences</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/add-conference' ? 'active' : '' %>" href="/add-conference">Add event</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/add-speaker' ? 'active' : '' %>" href="/add-speaker">Add speaker</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/add-venue' ? 'active' : '' %>" href="/add-venue">Add venue
                </a>
            </li>
            
            <li class="main-header__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
            </li>
            
        </ul>
       
    </nav>
</header>