<%- include('includes/head.ejs') %>
</head>

<body>

    <%- include('includes/navigation.ejs') %>
    <% if(errorMessage) { %>
    <div class="user-message--error">
        <%= errorMessage %>
    </div>

    <% } %>

    <div class="continer">
        <main>
            <div class="main media500 ">
                <div>
                    <p class="signature" align="center">Add New Conference</p>
                    <form class="product-form" action="/add-conference" method="POST">
                        <input class="name" type="text" name="name" id="name-conference" placeholder="Name">
                        <p class="signature1" align="center">Start time</p>
                        <input class="name" type="datetime-local" name="startTime" id="startTime">
                        <!-- <input class="name" type="hidden" name="userId" id="userId" value=> -->
                        <p class="signature1" align="center">End time</p>
                        <input class="name" type="datetime-local" name="endTime" id="endTime">
                        <p class="signature1" align="center">Address</p>
                        <select class="name" name="address" id="venue">
                            <% for (let venue of venues) { %>
                            <option value="<%=venue._id%>"><%= venue.adress %></option>
                            <% } %>
                        </select>

                        <p class="signature1" align="center" id="adddspeaker">Add Speaker</p>
                        <form class="product-form form1" action="/add-speaker" method="POST">
                            <input type="text" class="name product-form" align="center" name="name" id="name-speaker"
                                placeholder="Speaker name">
                            <input type="text" class="name" name="description" align="center" id="description-speaker"
                                placeholder="Speaker description">
                            <input type="link" class="name " name="profileImg" align="center" id="profileImg"
                                placeholder="Profile image">

                            <textarea class="description" name="description" id="description-conference" rows="5"
                                placeholder="Conference description..."></textarea>

                            <button class="submit button btn-block" align="center" type="submit">Add conference</button>
                </div>






                </form>
            </div>



        </main>
    </div>


    <%- include('includes/end.ejs') %>