<%- include('includes/head.ejs') %>

</head>

<body>


    <%- include('includes/navigation.ejs') %>
    <% if(errorMessage) { %>
    <div class="user-message--error">
        <%= errorMessage %>
    </div>

    <% } %>

    <main>
        <div class="main media500">

            <p class="signature" align="center">Choose Venue</p>

            <form class="product-form" action="/add-new-hall" method="POST">
                <select name="venueId" class="name form-controll select-css" id="venueId">
                    <% for (let venue of venues) { %>
                    <option value="<%=venue._id%>"><%= venue.adress %></option>
                    <% } %>
                </select>
                <input class="name " type="text" name="name" id="name" placeholder="Name">
                <input class="name" type="number" id="seats" name="seats" placeholder="Seats Number" min="1">
                <button class="submit button btn-block" align="center" type="submit">Add new hall</button>
            </form>
        </div>

    </main>




    <%- include('includes/end.ejs') %>