<%- include('includes/head.ejs') %>

</head>

<body>
    <style>
        /*
        body {
            background-color: #F3EBF6;
            font-family: 'Ubuntu', sans-serif;
            padding: 40px 0;
        }

        .main {
            padding: 18px;
            display: flex;
            flex-direction: column;
            background-color: #FFFFFF;
            width: 400px;
            height: fit-content;
            margin: 7em auto;
            border-radius: 1.5em;
            box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
        }

        .sign {
            padding-top: 20px;
            padding-bottom: 30px;
            color: #0082e6;
            font-family: 'Ubuntu', sans-serif;
            font-weight: bold;
            font-size: 23px;
        }

        .name {
            width: 76%;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: rgba(136, 126, 126, 0.04);
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            outline: none;
            box-sizing: border-box;
            border: 2px solid rgba(0, 0, 0, 0.02);
            margin-bottom: 50px;
            margin-left: 46px;
            text-align: center;
            margin-bottom: 27px;
            font-family: 'Ubuntu', sans-serif;
        }

        form.form1 {
            padding-top: 40px;
        }

        .seats,
        .profile-image {
            width: 76%;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: rgba(136, 126, 126, 0.04);
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            outline: none;
            box-sizing: border-box;
            border: 2px solid rgba(0, 0, 0, 0.02);
            margin-bottom: 50px;
            margin-left: 46px;
            text-align: center;
            margin-bottom: 27px;
            font-family: 'Ubuntu', sans-serif;
        }


        .name:focus,
        .seats:focus,
        .profile-image:focus {
            border: 2px solid rgba(0, 0, 0, 0.18) !important;

        }

        .submit {
            display: flex;
            text-align: center;
            cursor: pointer;
            border-radius: 5em;
            color: #fff;
            background: #0082e6;
            border: 1px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 10px;
            padding-top: 10px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 13px;
            margin: auto;
            box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        
        }

        .submit:hover {
            border-radius: 2px #0082e6;
            background: transparent;
            color: #0082e6;
        }

        .forgot {
            text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
            color: black;
            padding-top: 15px;
        }

        a {
            text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
            color: black;
            text-decoration: none
        }

        a:link {
            color: #0082e6;
        }

        @media (max-width: 600px) {
            .main {
                border-radius: 0px;
            }
        }*/
    </style>

    <%- include('includes/navigation.ejs') %>
    <% if(errorMessage) { %>
    <div class="user-message--error">
        <%= errorMessage %>
    </div>

    <% } %>

    <main>
        <div class="main media500">

            <p class="signature" align="center">Choose Venue</p>

            <form class="product-form" action="/add-new-hall" method="POST">
                <select name="venueId" class="name form-controll" id="venueId">
                    <% for (let venue of venues) { %>
                    <option value="<%=venue._id%>"><%= venue.adress %></option>
                    <% } %>
                </select>
                <input class="name " type="text" name="name" id="name" placeholder="Name">
                <input class="name" type="number" id="seats" name="seats" placeholder="Seats Number" min="1">
                <button class="submit button btn-block" align="center" type="submit">Add new hall</button>
            </form>
        </div>

    </main>




    <%- include('includes/end.ejs') %>