<%- include('includes/head.ejs') %>
<style>
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      width: -webkit-fill-available;
    }
    </style>
</head>

<body class="body">



    <%- include('includes/navigation.ejs') %>

    <div id="mySidenav" class="sidenav">
        <a href="#past" id="pastBtn">Past</a>
        <a href="#active" id="activeBtn">Active</a>
        <a href="#upcoming" id="upcomingBtn">Upcoming</a>
    </div>



    <h3 align="center" class="sign head" id="past">Past</h3>
    <div class="grid">
        <% for (let conference of conferences) { %>
        <% if(conference.startTime<currentDate){ %>
        <div class="mainGrid">
            <article class="active">
                <img class="conference-image" src="<%=conference.conferenceId.conferenceImg%>" class="img" alt="Sample photo">
                <div class="text">
                    <p class="sign conference-header" align="center"><%=conference.conferenceId.name%></p>
                    <p><b>Start time: </b><%=conference.startTime.toString().substring(0, 21)%></p>
                    <p><b>End time: </b><%=conference.endTime.toString().substring(0, 21)%></p>
                    <p maxlenght="20"><b>Description: </b><%=conference.conferenceId.description%></p>
                </div>
            </article>
        </div>
        <% } %>
        <% } %>

    </div>
    <h3 align="center" class="sign head" id="active">Active</h3>
    <div class="grid">

        <% for (let conference of conferences) { %>
        <% if(conference.startTime < currentDate && conference.endTime > currentDate){ %>

        <div class="mainGrid">
            <article class="active">
                <img class="conference-image" src="<%=conference.conferenceId.conferenceImg%>" class="img" alt="Sample photo">
                <div class="text">
                    <p class="sign conference-header" align="center"><%=conference.conferenceId.name%></p>
                    <p><b>Start time: </b><%=conference.startTime.toString().substring(0, 21)%></p>
                    <p><b>End time: </b><%=conference.endTime.toString().substring(0, 21)%></p>
                    <p maxlenght="20"><b>Description: </b><%=conference.conferenceId.description%></p>
                </div>
            </article>
        </div>

        <% } %>
        <% } %>

    </div>


    </div>
    <h3 align="center" class="sign head" id="upcoming">Upcoming</h3>
    <div class="grid">

        <% for (let conference of conferences) { %>
        <% if(conference.startTime > currentDate){ %>

        <div class="mainGrid">
            <article class="active">
                <img class="conference-image" src="<%=conference.conferenceId.conferenceImg%>" class="img" alt="Sample photo">
                <div class="text">
                    <p class="sign conference-header" align="center"><%=conference.conferenceId.name%></p>
                    <p><b>Start time: </b><%=conference.startTime.toString().substring(0, 21)%></p>
                    <p><b>End time: </b><%=conference.endTime.toString().substring(0, 21)%></p>
                    <p maxlenght="20"><b>Description: </b><%=conference.conferenceId.description%></p>
                    <form class="product-form form1" action="/join-session" method="POST">
                        <input type="hidden" value="<%= conference._id %>" name="sessionId" />
                        <input type="hidden" value="<%= conference.conferenceId._id %>" name="conferenceId" />
                        <button class="submit button btn-block" type="submit">Join session</button>
                    </form>
                </div>
            </article>
        </div>

        <% } %>
        <% } %>

    </div>


    </div>





    <%- include('includes/end.ejs') %>