<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/forms.css">
</head>

<body>
  

  <%- include('includes/navigation.ejs') %>

  <div class="main">
    <form class="product-form form1" action="/add-session" method="POST">

      <p class="sign1"><%= conference.address.adress %></p>
      <input class="un" type="hidden" name="venueId" value="<%= conference.address._id %>">
      <input class="un" type="hidden" name="conferenceId" value="<%= conference._id %>">
  
      <p class="sign1" align="center">Choose speaker</p>
  
      <select class="role pass form-control" name="speaker" id="speaker">
  
        <% for (let speaker of speakers) { %>
        <option value="<%=speaker._id%>"><%= speaker.name %></option>
        <% } %>
      </select>
      <select class="role pass form-control" name="hall" id="hall">
        <% for (let hall of halls) { %>
        <option value="<%=hall._id%>"><%= hall.name %> - Seats capacity: <%= hall.seats %> </option>
        <% } %>
      </select>
      <label class="sign1" align="center" for="startTime">Choose start end date and time</label>
      <input class="un" type="datetime-local" name="startTime" id="startTime">
      <label class="sign1" align="center" for="endTime">Choose start end date and time</label>
      <input class="un" type="datetime-local" name="endTime" id="endTime">
      <button class="submit btn" align="center" type="submit">Add Session</button>
    </form>
  </div>
  

  <div class="main">
    <% for(let session of sessions) { %> 
      <article class="sessions">
        <h3>Hall : <%=session.hallId.name%></h3>
        <h3>Seats available: <%=session.hallId.seats%></h3>
        <h3>Speaker: <%=session.speakerId.name%></h3>
        <h3>Speaker description: <%=session.speakerId.description%></h3>
        <h4><%=session.startTime%></h4>
        <h4><%=session.endTime%></h4>
        <button type="submit">Join session</button>
      </article>
      <% } %>
  </div>
  <!-- <div class="main">
    <p class="sign" align="center">Add New Session</p>
    

    <!-- <div class="center">
    <div class="property-card">
      <a href="#">
        <div class="property-image">
          <div class="property-image-title">
          Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
    <!-- </div>
        </div></a> -->
    <!-- <div class="property-description">
      <h5> Card Title </h5>
      <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
    </div>
    <a href="#">
      <div class="property-social-icons">
        <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
      <!-- </div>
    </a>

  </div> -->




  
  
  <%- include('includes/end.ejs') %>