<%- include('includes/head.ejs') %>
</head>

<body>

  <style>
    .btn-session {
      margin-left: 0;
      margin-right: 0;
    }

    .buttons-data-filter {
      display: flex;
    }

    img {
      border-radius: 5em;
    }


    .imagee p {
      position: relative;
      top: 10px;
      left: 10px;
    }

    .imagee {
      background-color: black;
      min-height: 500px;
      min-width: 800px;
      width: 100%;
      height: 100%;
      background: url("https://picsum.photos/600/400?image=1083") center no-repeat;

    }

    .textt {
      font-family: 'Ubuntu', sans-serif;
      color: #f2f2f2;
      font-weight: 500;
      font-size: 1vh;
      letter-spacing: 1.099px;
      padding: 2vh;
      border-radius: 3px;
    }


    body {
      background-color: #fff;
      font-family: 'Ubuntu', sans-serif;
      padding: 40px 0;

    }

    .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 18px;
      background-color: #FFFFFF;
      width: 400px;
      height: fit-content;
      margin: 7em auto;
      border-radius: 1.5em;
      box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
      text-align: center;
      margin-bottom: 30px;
    }

    .main1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 18px;
      padding-top: 18px;
      padding-bottom: 18px;
      background-color: #FFFFFF;
      width: 400px;
      height: fit-content;
      margin: auto;
      border-radius: 1.5em;
      box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

    .main2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 18px;
      background-color: #FFFFFF;
      width: 800px;
      height: fit-content;
      margin: 7em auto;
      border-radius: 1.5em;
      box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
      text-align: center;
      margin-bottom: 30px;
    }

    .mainCardDetails {
      display: block;
      flex-direction: column;
      justify-content: center;
      padding: 18px;
      background-color: rgba(61, 61, 61, 0.171);
      width: 400px;
      height: fit-content;
      margin: 7em auto;
      border-radius: 1.5em;
      box-shadow: 0px;
      text-align: center;
      margin-bottom: 30px;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 20px;
      align-items: stretch;
      padding: 40px;
    }

    .grid2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 0px;
      align-items: stretch;
      padding: 40px;
    }


    .sign {
      padding-top: 12vh;
      padding-bottom: 30px;
      color: #0082e6;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
      font-size: 23px;
    }

    .sign1 {
      color: #0082e6;
      font-family: "Ubuntu", sans-serif;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
    }

    .sign2 {
      color: #0082e6;
      font-family: "Ubuntu", sans-serif;
      font-weight: bold;
      font-size: 14px;
    }


    .name {
      width: 100%;
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: #fafafa;
      padding: 10px 20px;
      border: none;
      border-radius: 5em;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;
      text-align: center;
      margin-bottom: 27px;
      font-family: "Ubuntu", sans-serif;
    }

    .form1 {
      text-align: center;
    }

    h3,
    h4,
    p {
      font-size: 14px;
      font-family: 'Ubuntu', sans-serif;
    }

    .container {
      padding-top: 40px;
    }

    .un {
      width: 76%;
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;
      margin-left: 46px;
      text-align: center;
      margin-bottom: 27px;
      font-family: 'Ubuntu', sans-serif;
    }

    .pass,
    .pass1 {
      width: 76%;
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;
      margin-left: 46px;
      text-align: center;
      margin-bottom: 27px;
      font-family: 'Ubuntu', sans-serif;
    }


    .un:focus,
    .pass:focus,
    .pass1:focus {
      border: 2px solid rgba(0, 0, 0, 0.18) !important;

    }

    .submit {
      display: flex;
      cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: #0082e6;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 35%;
      font-size: 13px;
      margin: auto;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      text-align: center;

    }

    .submit1 {
      display: flex;
      cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: #0082e6;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      font-size: 13px;
      margin: auto;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      text-align: center;

    }

    .submit:hover {
      border-radius: 2px #0082e6;
      background: transparent;
      color: #0082e6;
    }

    .forgot {
      text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
      color: black;
      padding-top: 15px;
    }

    a {
      text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
      color: black;
      text-decoration: none
    }

    .logout {
      color: #f2f2f2;
      font-weight: 500;
      font-size: 2vh;
      letter-spacing: 1.099px;
      padding: 2vh;
      border-radius: 3px;
      /* text-transform: uppercase; */
      font-family: "Poppins", sans-serif;
    }

    label {
      display: inline-flex;
    }

    .btn {
      display: block;
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .btn:hover {
      background: transparent;
      color: #0082e6;
      border: 1px solid #0082e6;
      border-color: #0082e6;
    }

    a:link {
      color: #0082e6;
    }

    .user-message {
      margin: 20px auto;
      width: 50%;
      border: 1px solid green;
      background-color: #47bb24;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      color: white;
    }

    .user-message--error {
      margin: 20px auto;
      width: 50%;
      border: 1px solid red;
      background-color: #f17272;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      color: white;
    }

    .img {
      z-index: 5;
      position: relative;
      top: 2vh;
      left: 10vh;
      max-width: 83vh;

    }

    .article {
      z-index: 1000;
      position: relative;
      bottom: 2vh;
      right: 10vh;
      height: 30vh;

    }

    @media (max-width: 600px) {
      .main {
        border-radius: 0px;
        max-width: min-content;
      }
    }

    /*/////////nav bar css/////*/


    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: #0082e6;
      min-height: 8vh;
      width: 100%;
      text-align: center;
    }

    label.logo {
      color: #0082e6;
      font-size: 33px;
      line-height: 80px;
      padding: 0 140px;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
    }

    nav ul {
      margin-right: 60px;
      display: block;
    }

    nav ul li {
      display: inline;
      line-height: 80px;
      margin: 0 1vh;
      list-style-type: none;

    }

    nav ul li a {
      color: #f2f2f2;
      font-weight: 500;
      font-size: 2vh;
      letter-spacing: 1.099px;
      padding: 2vh;
      border-radius: 3px;
      /* text-transform: uppercase; */


      font-family: 'Poppins', sans-serif;
    }

    a.active,
    a:hover {
      transition: .5s;
      border-radius: 5em;
    }

    a.active {
      background: #1b9bff;
    }

    .checkbtn {
      font-size: 30px;
      color: white;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none;
    }

    #check {
      display: none;
    }

    .button-nav {
      display: none;
    }

    .labell {
      margin: 0 40px 0 0;
      font-size: 26px;
      line-height: 70px;
      display: none;
      width: 35px;
      float: right;
    }

    #toggle {
      display: none;
    }

    .footer-copyright {
      text-align: center;
    }



    @media only screen and (max-width: 953px) {
      .labell {
        display: block;
        cursor: pointer;
      }

      .menuu {
        text-align: center;
        width: 100%;
        display: none;
      }

      .menuu a {
        display: block;
        border-bottom: solid #d6d6d6;
        margin: 0;
      }

      #toggle:checked+.menuu {
        display: block;
      }

      .navbar {
        display: block;
      }

      .logo {
        display: none;
      }

      body {
        padding-top: 0;
      }

      .form1 {
        width: fit-content;
      }

      .grid2 {
        display: contents;
        max-width: min-content;
        text-align: left;
        background-image: inherit;
        color: black;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
      }

      .grid {
        display: inline;
      }

      .container {
        padding: 40px;
      }

      .main1 {
        display: grid;
        margin-bottom: 28px;
        max-width: fit-content;
      }

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: -webkit-fill-available;

      }

      .grid>article img {
        width: 100%;
      }

      .grid>article img {
        width: 100%;
      }

      .img {
        padding-top: 3vh;

        z-index: 5;
        position: staic;
        top: 0;
        left: 0;
        max-width: webkit-fill-available;
        max-height: 40vh;

      }

      .article {
        z-index: 1000;
        position: static;
        bottom: 0;
        right: 0;
        height: 30vh;

      }

    }



    /* ACTIVE PAST UPCOMING BUTTONS STYLE END */

    .hidden {
      display: none;
    }

    .notHidden {
      display: flex;
    }

    .filterDiv {
      display: none;
    }

    .show {
      display: block;
    }

    .btn.active {
      background: transparent;
      color: #0082e6;
      border: 1px solid #0082e6;
      border-color: #0082e6;
    }

    /* ACTIVE PAST UPCOMING BUTTONS STYLE END  /|\  */




    /* POP UP NOTIFICATION CONFERNCE DETAILS PAGE \|/  */

    /* Popup container - can be anything you want */
    /* The Modal (background) */
    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #3a3f45;
      margin: 15% auto;
      /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #3a3f45ab;
      width: 80%;
      border-radius: 1.5em;
      /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
      color: rgba(255, 255, 255, 0.582);
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }


    /* /////     end of popUp    ////// */

    .toggle {
      background-color: rgba(0, 0, 0, 0.5);

    }

    .flex-box {
      display: flex;
      flex-direction: row;
      border-radius: 1.5em;
      width: 75%;
      margin: 0 auto;
      padding-top: 8vh;
    }

    .imageCard {
      width: 50%;

    }

    .textCard {
      width: 50%;
      color: #fff;
      background-color: #1a1e1c75;
      max-height: 50vh;
      flex-wrap: wrap;
      flex-direction: row;
      cursor: pointer;
    }

    .popUpTxt {
      white-space: normal;
      overflow: unset;
      text-overflow: unset;
      display: block;
      width: auto;
      flex-wrap: wrap;

    }


    /* 
    /* Add animation (fade in the popup) */
    /* @-webkit-keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    } */
  </style>


  <%- include('includes/navigation.ejs') %>

  <!-- 
  <div flex = row = border-radius = width: 80%, sredaya>
    <div width 50>
      <img width/>
    </div>
    <div 50%>
      <p>asd</p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div> -->

  <div class="flex-box">
    <div class="imageCard">
      <img src="https://picsum.photos/600/400?image=1083" class="imagee" alt="">
    </div>
    <div class="mainCardDetails textCard popup" id="myDiv" onmouseover="this.style.backgroundColor ='#1a1e1c91'"
      onmouseout="this.style.backgroundColor = '#1a1e1c75'">
      <p>Name: <%=conference.name%></p>
      <p>Description: <%=conference.description%></p>
      <p>Description: <%=conference.speakerName%></p>
      <p>Description: <%=conference.description%></p>
      <p>Description: <%=conference.description%></p>
      <p>Speaker name: <%=conference.speakerName%></p>
      <p>Start time: <%=conference.startTime%></p>
      <p>End time: <%=conference.endTime%></p>


      <!--//////      popUp     ////// -->
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close"
            onclick="() => {document.getElementsByClassName('close').style.display = 'none';}">&times;</span>
          <p class="popUpTxt"><b class="sign1">Name: </b><%=conference.name%></p>
          <p class="popUpTxt"><b class="sign1">Description: </b><%=conference.description%></p>
          <p class="popUpTxt"><b class="sign1">Speaker Name: </b><%=conference.speakerName%></p>
          </p>
          <p class="popUpTxt"><b class="sign1">Start time: </b><%=conference.startTime%></p>
          <p class="popUpTxt"><b class="sign1">End time: </b><%=conference.endTime%></p>
        </div>
      </div>

    </div>
  </div>



  <!-- <div class="main">

    <div class="mainCardDetails grid2">
      <div class="grid2">
        <img src="https://picsum.photos/600/400?image=1083" class="img" alt="Sample photo">
      </div>
      <div class="article main popup" onclick="popUp()">
        <p>Name: <%=conference.name%></p>
        <p>Description: <%=conference.description%></p>
        <span class="popuptext" id="myPopup">
          <p>Name: <%=conference.name%></p>
          <p>Description: <%=conference.description%></p>
        </span>

      </div>


    </div>

  </div> -->

  <div class=sign1>
    <label class="sign">Adding sessions</label>
  </div>


  <div class="main" style="margin-top: 0px;">
    <form class=" product-form form1" action="/add-session" method="POST">

      <p class="sign2">Address</p>
      <p class="sign1" style="color:black;"><%= conference.address.adress %></p>
      <input class="name" type="hidden" name="venueId" value="<%= conference.address._id %>">
      <input class="name" type="hidden" name="conferenceId" value="<%= conference._id %>">

      <p class="sign2">Choose hall</p>

      <select class="role name form-control" name="hallId" id="hall">
        <% for (let hall of halls) { %>
        <% if(hall.venueId.toString() === conference.address._id.toString()) { %>
        <option value="<%=hall._id%>"><%= hall.name %> - Seats capacity: <%= hall.seats %> </option>
        <% } %>
        <% } %>
      </select>
      <label class="sign2" align="center" for="startTime">Choose start end date and time</label>
      <input class="name" type="datetime-local" name="startTime" id="startTime">
      <label class="sign2" align="center" for="endTime">Choose start end date and time</label>
      <input class="name" type="datetime-local" name="endTime" id="endTime">
      <button class="submit btn btn-block" type="submit">Add Session</button>
    </form>
  </div>

  <div class=sign1>
    <label class="sign">Sessions</label>
  </div>

  <div class="buttons-data-filter" id="myBtnContainer">
    <button class="submit1 btn btn-session active" onclick="filterSelection('all')" type="submit">ALL</button>
    <button class="submit1 btn btn-session" onclick="filterSelection('past')" type="submit">PAST</button>
    <button class="submit1 btn btn-session" onclick="filterSelection('active')" type="submit">ACTIVE</button>
    <button class="submit1 btn btn-session" onclick="filterSelection('upcoming')" type="submit">UPCOMING</button>
  </div>


  <div class="grid">
    <% for(let session of sessions) { %>
    <div class="main1 filterDiv allSessions">
      <article class="sessions">
        <h3><b class="sign2">Hall: </b><%=session.hallId.name%></h3>
        <h3><b class="sign2">Seats available: </b><%=session.sessionSeats%></h3>
        <p class="pStartTime"><b class="sign2">Start time: </b><%=session.startTime%></p>
        <p class="pEndTime"><b class="sign2">End time: </b><%=session.endTime%></p>
        <form class="product-form form1" action="/join-session" method="POST">
          <input type="hidden" value="<%= session._id %>" name="sessionId" />
          <input type="hidden" value="<%= conference._id %>" name="conferenceId" />
          <button class="submit btn btn-block" type="submit">Join session</button>
        </form>
      </article>
    </div>
    <% } %>
  </div>


  <script>
    const element = document.querySelectorAll(".allSessions");
    const startTime = [];
    const endTime = [];
    window.currentTime = getCurrentTime();
    const past = 'past';
    const active = 'active';
    const upcoming = 'upcoming';



    function getCurrentTime(element) {
      return new Date().toString().slice(0, 21);
    }

    for (let i = 0; i < element.length; i++) {
      startTime[i] = document.querySelector('.pStartTime').innerHTML.slice(37, 55);
      endTime[i] = document.querySelector('.pEndTime').innerHTML.slice(34, 55);

    }



    filterSelection("all")

    function filterSelection(c) {

      for (let i = 0; i < element.length; i++) {
        if (endTime[i] < currentTime) {
          element[i].classList.add('past');
        } else if (startTime[i] < currentTime && endTime[i] > currentTime) {
          element[i].classList.add('active');
        }
        else {
          element[i].classList.add('upcoming');
        }

        console.log('start time: ', startTime);
        console.log('end time: ', endTime);
        console.log('current time: ', window.currentTime);
        console.log(element);
        console.log('____________________________');

        // element[i].classList.toggle("notHidden");
        // element[i].classList.toggle("hidden");


        var x;
        x = document.getElementsByClassName("filterDiv");
        if (c == "all") c = "";
        // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
        for (i = 0; i < x.length; i++) {
          w3RemoveClass(x[i], "show");
          if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
      }

      // Show filtered elements
      function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
          if (arr1.indexOf(arr2[i]) == -1) {
            element.className += " " + arr2[i];
          }
        }
      }

      // Hide elements that are not selected
      function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
          while (arr1.indexOf(arr2[i]) > -1) {
            arr1.splice(arr1.indexOf(arr2[i]), 1);
          }
        }
        element.className = arr1.join(" ");
      }

      // Add active class to the current control button (highlight it)
      var btnContainer = document.getElementById("myBtnContainer");
      var btns = btnContainer.getElementsByClassName("btn");
      for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
          var current = document.getElementsByClassName("active");
          current[0].className = current[0].className.replace(" active", "");
          this.className += " active";
        });
      }


    };


    // function pastBtn() {
    //   for (let i = 0; i < element.length; i++) {



    //     if (endTime[i] < window.currentTime) {
    //       element[i].classList.toggle("notHidden")
    //     } else {
    //       element[i].classList.toggle("hidden");
    //     }

    //   }
    //   console.log('start time: ', startTime);
    //   console.log('end time: ', endTime);
    //   console.log('current time: ', window.currentTime);
    //   console.log('____________________________');

    // }

    // function activeBtn(getCurrentTime) {

    //   for (let i = 0; i < element.length; i++) {

    //     if (endTime[i] > window.currentTime && startTime[i] < window.currentTime) {
    //       element[i].classList.toggle("notHidden")
    //     } else {
    //       element[i].classList.toggle("hidden");
    //     }

    //   }
    //   console.log('start time: ', startTime);
    //   console.log('end time: ', endTime);
    //   console.log('current time: ', window.currentTime);
    //   console.log('____________________________');

    // }

    // function upcomingBtn(getCurrentTime) {

    //   for (let i = 0; i < element.length; i++) {


    //     if (startTime[i] > window.currentTime) {
    //       element[i].classList.toggle("notHidden")
    //     } else {
    //       element[i].classList.toggle("hidden");
    //     }

    //   }
    //   console.log('start time: ', startTime);
    //   console.log('end time: ', endTime);
    //   console.log('current time: ', window.currentTime);
    //   console.log('____________________________');

    // }


    // //////////    Pop up     //////////
    var modal = document.getElementById("myModal");
    var divv = document.getElementById("myDiv");
    var span = document.getElementsByClassName('close')[0];

    divv.onclick = function () {
      modal.style.display = "block";
      console.log(span);
    }

    span.onclick = function () {
      modal.style.display = "none";
    }

    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }





  </script>


  <%- include('includes/end.ejs') %>