<%- include('includes/head.ejs') %>
</head>

<body>

  <style>
    /*//////////product card details/////////////*/

    .card-detailss {
      display: inline;
      border-radius: 5em;
      box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
      margin: 0 auto;
    }

    .lib-panel {
      margin-bottom: 20Px;
    }

    .lib-panel img {
      width: 100%;
      background-color: transparent;
    }

    .lib-panel .row,
    .lib-panel .col-md-6 {
      padding: 0;
      background-color: #FFFFFF;
    }


    .lib-panel .lib-row {
      padding: 0 20px 0 20px;
    }

    .lib-panel .lib-row.lib-header {
      background-color: #FFFFFF;
      font-size: 20px;
      padding: 10px 20px 0 20px;
    }

    .lib-panel .lib-row.lib-header .lib-header-seperator {
      height: 2px;
      width: 26px;
      background-color: #d9d9d9;
      margin: 7px 0 7px 0;
    }

    .lib-panel .lib-row.lib-desc {
      position: relative;
      height: 100%;
      display: block;
      font-size: 13px;
    }

    .lib-panel .lib-row.lib-desc a {
      position: absolute;
      width: 100%;
      bottom: 10px;
      left: 20px;
    }

    .row-margin-bottom {
      margin-bottom: 20px;
    }

    .box-shadow {
      -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
      height: 210px;
      width: 350px;
      border-radius: 5em;
    }

    .no-padding {
      padding: 0;
    }



    /*////////////end of product card details////////*/

    img {
      border-radius: 5em;
    }


    .imagee p {
      position: relative;
      top: 10px;
      left: 10px;
    }

    .imagee {
      background-color: black;
      min-height: 500px;
      min-width: 800px;
      width: 100%;
      height: 100%;
      background: url("https://picsum.photos/600/400?image=1083") center no-repeat;

    }

    .textt {
      font-family: 'Ubuntu', sans-serif;
      color: #f2f2f2;
      font-weight: 500;
      font-size: 1vh;
      letter-spacing: 1.099px;
      padding: 2vh;
      border-radius: 3px;
    }


    body {
      background-color: #fff;
      font-family: 'Ubuntu', sans-serif;
      padding: 40px 0;

    }

    .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 18px;
      background-color: #FFFFFF;
      width: 400px;
      height: fit-content;
      margin: 7em auto;
      border-radius: 1.5em;
      box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
      text-align: center;
      margin-bottom: 30px;
    }

    .main1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 18px;
      padding-top: 18px;
      padding-bottom: 18px;
      background-color: #FFFFFF;
      width: 400px;
      height: fit-content;
      margin: auto;
      border-radius: 1.5em;
      box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

    .main2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 18px;
      background-color: #FFFFFF;
      width: 800px;
      height: fit-content;
      margin: 7em auto;
      border-radius: 1.5em;
      box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
      text-align: center;
      margin-bottom: 30px;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 20px;
      align-items: stretch;
      padding: 40px;
    }

    .grid2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 0px;
      align-items: stretch;
      padding: 40px;
    }


    .sign {
      padding-top: 20px;
      padding-bottom: 30px;
      color: #0082e6;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
      font-size: 23px;
    }

    .sign1 {
      color: #0082e6;
      font-family: "Ubuntu", sans-serif;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
    }

    .sign2 {
      color: #0082e6;
      font-family: "Ubuntu", sans-serif;
      font-weight: bold;
      font-size: 14px;
    }


    .name {
      width: 100%;
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: #fafafa;
      padding: 10px 20px;
      border: none;
      border-radius: 5em;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;
      text-align: center;
      margin-bottom: 27px;
      font-family: "Ubuntu", sans-serif;
    }

    .form1 {
      text-align: center;
    }

    h3,
    h4,
    p {
      font-size: 14px;
      font-family: 'Ubuntu', sans-serif;
    }

    .container {
      padding-top: 40px;
    }

    .un {
      width: 76%;
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;
      margin-left: 46px;
      text-align: center;
      margin-bottom: 27px;
      font-family: 'Ubuntu', sans-serif;
    }

    .pass,
    .pass1 {
      width: 76%;
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;
      margin-left: 46px;
      text-align: center;
      margin-bottom: 27px;
      font-family: 'Ubuntu', sans-serif;
    }


    .un:focus,
    .pass:focus,
    .pass1:focus {
      border: 2px solid rgba(0, 0, 0, 0.18) !important;

    }

    .submit {
      display: flex;
      cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: #0082e6;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 35%;
      font-size: 13px;
      margin: auto;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      text-align: center;

    }

    .submit:hover {
      border-radius: 2px #0082e6;
      background: transparent;
      color: #0082e6;
    }

    .forgot {
      text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
      color: black;
      padding-top: 15px;
    }

    a {
      text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
      color: black;
      text-decoration: none
    }

    label {
      display: inline-flex;
    }

    .btn {
      display: block;
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .btn:hover {
      background: transparent;
      color: #0082e6;
      border: 1px solid #0082e6;
      border-color: #0082e6;
    }

    a:link {
      color: #0082e6;
    }

    .user-message {
      margin: 20px auto;
      width: 50%;
      border: 1px solid green;
      background-color: #47bb24;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      color: white;
    }

    .user-message--error {
      margin: 20px auto;
      width: 50%;
      border: 1px solid red;
      background-color: #f17272;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      color: white;
    }

    @media (max-width: 600px) {
      .main {
        border-radius: 0px;
        max-width: min-content;
      }
    }

    /*/////////nav bar css/////*/


    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: #0082e6;
      min-height: 8vh;
      width: 100%;
      text-align: center;
    }

    label.logo {
      color: #0082e6;
      font-size: 33px;
      line-height: 80px;
      padding: 0 140px;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
    }

    nav ul {
      margin-right: 60px;
      display: block;
    }

    nav ul li {
      display: inline;
      line-height: 80px;
      margin: 0 1vh;
      list-style-type: none;

    }

    nav ul li a {
      color: #f2f2f2;
      font-weight: 500;
      font-size: 2vh;
      letter-spacing: 1.099px;
      padding: 2vh;
      border-radius: 3px;
      /* text-transform: uppercase; */


      font-family: 'Poppins', sans-serif;
    }

    a.active,
    a:hover {
      transition: .5s;
      border-radius: 5em;
    }

    a.active {
      background: #1b9bff;
    }

    .checkbtn {
      font-size: 30px;
      color: white;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none;
    }

    #check {
      display: none;
    }

    .button-nav {
      display: none;
    }

    .labell {
      margin: 0 40px 0 0;
      font-size: 26px;
      line-height: 70px;
      display: none;
      width: 35px;
      float: right;
    }

    #toggle {
      display: none;
    }

    .footer-copyright {
      text-align: center;
    }

    @media only screen and (max-width: 500px) {
      .labell {
        display: block;
        cursor: pointer;
      }

      .menuu {
        text-align: center;
        width: 100%;
        display: none;
      }

      .menuu a {
        display: block;
        border-bottom: solid #d6d6d6;
        margin: 0;
      }

      #toggle:checked+.menuu {
        display: block;
      }

      .navbar {
        display: block;
      }

      .logo {
        display: none;
      }

      body {
        padding-top: 0;
      }

      .form1 {
        width: fit-content;
      }

      .grid2 {
        display: contents;
        max-width: min-content;
        text-align: left;
        background-image: inherit;
        color: black;
        font-size: 16px;
        font-weight: bold;
      }

      .grid {
        display: inline;
      }

      .container {
        padding: 40px;
      }

      .main1 {
        display: grid;
      }

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-grid;
        width: -webkit-fill-available;

      }
    }




    /*
    @media only screen and (max-width: 500px) {
      nav ul {
        flex-direction: column;
      }

      nav ul li {
        margin: 0;
      }

      nav ul li a {
        display: block;
      }
    }

    .button-nav {
      display: none;
    }


    @media only screen and (max-width: 500px) {
      .button-nav {
        display: block;

        padding: 2vw;
        font-size: 3vh;
        background-color: #AFE0FF;
        border: none;

        outline: none;

        cursor: pointer;
        align-self: flex-start;
      }
    }*/
  </style>


  <%- include('includes/navigation.ejs') %>



  <div class="container">

    <div class="imagee main textt grid2">
      <p>Name: <br><%=conference.name%></p>
      <p>Description: <br><%=conference.description%></p>

    </div>

  </div>












  <div class="main">
    <form class="product-form form1" action="/add-session" method="POST">

      <p class="sign2">Address</p>
      <p class="sign1" style="color:black;"><%= conference.address.adress %></p>
      <input class="name" type="hidden" name="venueId" value="<%= conference.address._id %>">
      <input class="name" type="hidden" name="conferenceId" value="<%= conference._id %>">

      <p class="sign2">Choose speaker</p>

      <select class="role name form-control" name="hallId" id="hall">
        <% for (let hall of halls) { %>
        <option value="<%=hall._id%>"><%= hall.name %> - Seats capacity: <%= hall.seats %> </option>
        <% } %>
      </select>
      <label class="sign2" align="center" for="startTime">Choose start end date and time</label>
      <input class="name" type="datetime-local" name="startTime" id="startTime">
      <label class="sign2" align="center" for="endTime">Choose start end date and time</label>
      <input class="name" type="datetime-local" name="endTime" id="endTime">
      <button class="submit btn btn-block" type="submit">Add Session</button>
    </form>
  </div>

  <div class=sign1>
    <label class="sign">All Sessions</label>
  </div>

  <div class="grid">
    <% for(let session of sessions) { %>
    <div class="main1">

      <article class="sessions">
        <h3><b class="sign2">Hall: </b><%=session.hallId.name%></h3>
        <h3><b class="sign2">Seats available: </b><%=session.hallId.seats%></h3>
        <p><%=session.startTime%></p>
        <p><%=session.endTime%></p>
        <form action="/join-session" method="post">
          <input type="hidden" name="seatsLeft" value="<%=session.sessionSeats%>">
          <button class="submit btn btn-block type=" submit">Join session</button>
        </form>
      </article>

    </div>
    <% } %>
  </div>

  <%- include('includes/end.ejs') %>