<html lang="en">

<head>
    <title>Harvest vase</title>
    <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi"
        rel="stylesheet">

    <%- include('includes/head.ejs') %>

</head>

<body>



    <%- include('includes/navigation.ejs') %>

    <h1><%=conference.name%></h1>
    <h1><%=conference.startTime%></h1>
    <h1><%=conference.endTime%></h1>
    <h1><%=conference.description%></h1>
    <h1><%=conference.address.adress%></h1>
    

</body>

</html>