<%- include('includes/head.ejs') %>
</head>

<body>

  <style>
    .btn-session {
      margin-left: 0;
      margin-right: 0;
    }

    .buttons-data-filter {
      display: flex;
    }

    img {
      border-radius: 5em;
    }


    .imagee p {
      position: relative;
      top: 10px;
      left: 10px;
    }

    .imagee {
      background-color: black;
      min-height: 500px;
      min-width: 800px;
      width: 100%;
      height: 100%;
      background: url("https://picsum.photos/600/400?image=1083") center no-repeat;

    }

    .textt {
      font-family: 'Ubuntu', sans-serif;
      color: #f2f2f2;
      font-weight: 500;
      font-size: 1vh;
      letter-spacing: 1.099px;
      padding: 2vh;
      border-radius: 3px;
    }


    body {
      background-color: #fff;
      font-family: 'Ubuntu', sans-serif;
      padding: 40px 0;

    }

    .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 18px;
      background-color: #FFFFFF;
      width: 400px;
      height: fit-content;
      margin: 7em auto;
      border-radius: 1.5em;
      box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
      text-align: center;
      margin-bottom: 30px;
    }

    .main1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 18px;
      padding-top: 18px;
      padding-bottom: 18px;
      background-color: #FFFFFF;
      width: 400px;
      height: fit-content;
      margin: auto;
      border-radius: 1.5em;
      box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

    .main2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 18px;
      background-color: #FFFFFF;
      width: 800px;
      height: fit-content;
      margin: 7em auto;
      border-radius: 1.5em;
      box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
      text-align: center;
      margin-bottom: 30px;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 20px;
      align-items: stretch;
      padding: 40px;
    }

    .grid2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 0px;
      align-items: stretch;
      padding: 40px;
    }


    .sign {
      padding-top: 20px;
      padding-bottom: 30px;
      color: #0082e6;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
      font-size: 23px;
    }

    .sign1 {
      color: #0082e6;
      font-family: "Ubuntu", sans-serif;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
    }

    .sign2 {
      color: #0082e6;
      font-family: "Ubuntu", sans-serif;
      font-weight: bold;
      font-size: 14px;
    }


    .name {
      width: 100%;
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: #fafafa;
      padding: 10px 20px;
      border: none;
      border-radius: 5em;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;
      text-align: center;
      margin-bottom: 27px;
      font-family: "Ubuntu", sans-serif;
    }

    .form1 {
      text-align: center;
    }

    h3,
    h4,
    p {
      font-size: 14px;
      font-family: 'Ubuntu', sans-serif;
    }

    .container {
      padding-top: 40px;
    }

    .un {
      width: 76%;
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;
      margin-left: 46px;
      text-align: center;
      margin-bottom: 27px;
      font-family: 'Ubuntu', sans-serif;
    }

    .pass,
    .pass1 {
      width: 76%;
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;
      margin-left: 46px;
      text-align: center;
      margin-bottom: 27px;
      font-family: 'Ubuntu', sans-serif;
    }


    .un:focus,
    .pass:focus,
    .pass1:focus {
      border: 2px solid rgba(0, 0, 0, 0.18) !important;

    }

    .submit {
      display: flex;
      cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: #0082e6;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 35%;
      font-size: 13px;
      margin: auto;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      text-align: center;

    }

    .submit1 {
      display: flex;
      cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: #0082e6;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      font-size: 13px;
      margin: auto;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      text-align: center;

    }

    .submit:hover {
      border-radius: 2px #0082e6;
      background: transparent;
      color: #0082e6;
    }

    .forgot {
      text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
      color: black;
      padding-top: 15px;
    }

    a {
      text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
      color: black;
      text-decoration: none
    }

    .logout {
      color: #f2f2f2;
      font-weight: 500;
      font-size: 2vh;
      letter-spacing: 1.099px;
      padding: 2vh;
      border-radius: 3px;
      /* text-transform: uppercase; */
      font-family: "Poppins", sans-serif;
    }

    label {
      display: inline-flex;
    }

    .btn {
      display: block;
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .btn:hover {
      background: transparent;
      color: #0082e6;
      border: 1px solid #0082e6;
      border-color: #0082e6;
    }

    a:link {
      color: #0082e6;
    }

    .user-message {
      margin: 20px auto;
      width: 50%;
      border: 1px solid green;
      background-color: #47bb24;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      color: white;
    }

    .user-message--error {
      margin: 20px auto;
      width: 50%;
      border: 1px solid red;
      background-color: #f17272;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      color: white;
    }

    .img {
      z-index: 5;
      position: relative;
      top: 2vh;
      left: 10vh;
      max-width: 83vh;

    }

    .article {
      z-index: 1000;
      position: relative;
      bottom: 2vh;
      right: 10vh;
      height: 30vh;

    }

    @media (max-width: 600px) {
      .main {
        border-radius: 0px;
        max-width: min-content;
      }
    }

    /*/////////nav bar css/////*/


    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: #0082e6;
      min-height: 8vh;
      width: 100%;
      text-align: center;
    }

    label.logo {
      color: #0082e6;
      font-size: 33px;
      line-height: 80px;
      padding: 0 140px;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
    }

    nav ul {
      margin-right: 60px;
      display: block;
    }

    nav ul li {
      display: inline;
      line-height: 80px;
      margin: 0 1vh;
      list-style-type: none;

    }

    nav ul li a {
      color: #f2f2f2;
      font-weight: 500;
      font-size: 2vh;
      letter-spacing: 1.099px;
      padding: 2vh;
      border-radius: 3px;
      /* text-transform: uppercase; */


      font-family: 'Poppins', sans-serif;
    }

    a.active,
    a:hover {
      transition: .5s;
      border-radius: 5em;
    }

    a.active {
      background: #1b9bff;
    }

    .checkbtn {
      font-size: 30px;
      color: white;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none;
    }

    #check {
      display: none;
    }

    .button-nav {
      display: none;
    }

    .labell {
      margin: 0 40px 0 0;
      font-size: 26px;
      line-height: 70px;
      display: none;
      width: 35px;
      float: right;
    }

    #toggle {
      display: none;
    }

    .footer-copyright {
      text-align: center;
    }



    @media only screen and (max-width: 953px) {
      .labell {
        display: block;
        cursor: pointer;
      }

      .menuu {
        text-align: center;
        width: 100%;
        display: none;
      }

      .menuu a {
        display: block;
        border-bottom: solid #d6d6d6;
        margin: 0;
      }

      #toggle:checked+.menuu {
        display: block;
      }

      .navbar {
        display: block;
      }

      .logo {
        display: none;
      }

      body {
        padding-top: 0;
      }

      .form1 {
        width: fit-content;
      }

      .grid2 {
        display: contents;
        max-width: min-content;
        text-align: left;
        background-image: inherit;
        color: black;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
      }

      .grid {
        display: inline;
      }

      .container {
        padding: 40px;
      }

      .main1 {
        display: grid;
        margin-bottom: 28px;
        max-width: fit-content;
      }

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-grid;
        width: -webkit-fill-available;

      }

      .grid>article img {
        width: 100%;
      }

      .grid>article img {
        width: 100%;
      }

      .img {
        padding-top: 3vh;

        z-index: 5;
        position: staic;
        top: 0;
        left: 0;
        max-width: webkit-fill-available;

      }

      .article {
        z-index: 1000;
        position: static;
        bottom: 0;
        right: 0;
        height: 30vh;

      }

    }



    /* ACTIVE PAST UPCOMING BUTTONS STYLE END */

    .hidden {
      display: none;
    }

    .notHidden {
      display: flex;
    }

    /* ACTIVE PAST UPCOMING BUTTONS STYLE END  /|\  */




    /* POP UP NOTIFICATION CONFERNCE DETAILS PAGE \|/  */

    /* Popup container - can be anything you want */
    .popup {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* The actual popup */
    .popup .popuptext {
      visibility: hidden;
      width: 160px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -80px;
    }

    /* Popup arrow */
    .popup .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }

    /* Toggle this class - hide and show the popup */
    .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
    }

    .toggle {
      background-color: rgba(0, 0, 0, 0.5);

    }

    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  </style>


  <%- include('includes/navigation.ejs') %>

<!-- 
  <div flex = row = border-radius = width: 80%, sredaya>
    <div width 50>
      <img width/>
    </div>
    <div 50%>
      <p>asd</p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div> -->


  <div class="main">

    <div class="main grid2">
      <div class="grid2">
        <img src="https://picsum.photos/600/400?image=1083" class="img" alt="Sample photo">
      </div>
      <div class="article main popup" onclick="popUp()">
        <p>Name: <%=conference.name%></p>
        <p>Description: <%=conference.description%></p>
        <span class="popuptext" id="myPopup">
          <p>Name: <%=conference.name%></p>
          <p>Description: <%=conference.description%></p>
        </span>

      </div>


    </div>

  </div>

  <div class=sign1>
    <label class="sign">Adding sessions</label>
  </div>



  <div class="main">
    <form class="product-form form1" action="/add-session" method="POST">

      <p class="sign2">Address</p>
      <p class="sign1" style="color:black;"><%= conference.address.adress %></p>
      <input class="name" type="hidden" name="venueId" value="<%= conference.address._id %>">
      <input class="name" type="hidden" name="conferenceId" value="<%= conference._id %>">

      <p class="sign2">Choose hall</p>

      <select class="role name form-control" name="hallId" id="hall">
        <% for (let hall of halls) { %>
          <% if(hall.venueId.toString() === conference.address._id.toString()) { %>
            <option value="<%=hall._id%>"><%= hall.name %> - Seats capacity: <%= hall.seats %> </option>
          <% } %>
        <% } %>
      </select>
      <label class="sign2" align="center" for="startTime">Choose start end date and time</label>
      <input class="name" type="datetime-local" name="startTime" id="startTime">
      <label class="sign2" align="center" for="endTime">Choose start end date and time</label>
      <input class="name" type="datetime-local" name="endTime" id="endTime">
      <button class="submit btn btn-block" type="submit">Add Session</button>
    </form>
  </div>

  <div class=sign1>
    <label class="sign">Sessions</label>
  </div>

  <div class="buttons-data-filter">
    <button class="submit1 btn btn-session" onclick="allBtn()" type="submit">ALL</button>
    <button class="submit1 btn btn-session" onclick="pastBtn()" type="submit">PAST</button>
    <button class="submit1 btn btn-session" onclick="activeBtn()" type="submit">ACTIVE</button>
    <button class="submit1 btn btn-session" onclick="upcomingBtn()" type="submit">UPCOMING</button>
  </div>


  <div class="grid">
    <% for(let session of sessions) { %>
    <div class="main1 filter allSessions past">
      <article class="sessions">
        <h3><b class="sign2">Hall: </b><%=session.hallId.name%></h3>
        <h3><b class="sign2">Seats available: </b><%=session.sessionSeats%></h3>
        <p class="pStartTime"><b class="sign2">Start time: </b><%=session.startTime%></p>
        <p class="pEndTime"><b class="sign2">End time: </b><%=session.endTime%></p>
        <form class="product-form form1" action="/join-session" method="POST">
          <input type="hidden" value="<%= session._id %>" name="sessionId" />
          <input type="hidden" value="<%= conference._id %>" name="conferenceId" />
          <button class="submit btn btn-block" type="submit">Join session</button>
        </form>
      </article>
    </div>
    <% } %>
  </div>


  <script>
    const element = document.querySelectorAll(".allSessions");
    const startTime = [];
    const endTime = [];
    window.currentTime = getCurrentTime();

    function getCurrentTime() {
      return new Date().toString().slice(0, 21);
    }

    for (let i = 0; i < element.length; i++) {
      startTime[i] = document.querySelector('.pStartTime').innerHTML;
      endTime[i] = document.querySelector('.pEndTime').innerHTML;
    }



    function allBtn() {

      for (let i = 0; i < element.length; i++) {
        element[i].classList.toggle("notHidden");
        element[i].classList.toggle("hidden");
      }
      console.log('start time: ', startTime);
      console.log('end time: ', endTime);
      console.log('current time: ', window.currentTime);
      console.log('____________________________');
    }

    function pastBtn() {
      for (let i = 0; i < element.length; i++) {



        if (endTime < window.currentTime) {
          element[i].classList.toggle("notHidden")
        } else {
          element[i].classList.toggle("hidden");
        }

      }
      console.log('start time: ', startTime);
      console.log('end time: ', endTime);
      console.log('current time: ', window.currentTime);
      console.log('____________________________');

    }

    function activeBtn(getCurrentTime) {

      for (let i = 0; i < element.length; i++) {

        if (endTime > window.currentTime && startTime < window.currentTime) {
          element[i].classList.toggle("notHidden")
        } else {
          element[i].classList.toggle("hidden");
        }

      }
      console.log('start time: ', startTime);
      console.log('end time: ', endTime);
      console.log('current time: ', window.currentTime);
      console.log('____________________________');

    }

    function upcomingBtn(getCurrentTime) {

      for (let i = 0; i < element.length; i++) {


        if (startTime > window.currentTime) {
          element[i].classList.toggle("notHidden")
        } else {
          element[i].classList.toggle("hidden");
        }

      }
      console.log('start time: ', startTime);
      console.log('end time: ', endTime);
      console.log('current time: ', window.currentTime);
      console.log('____________________________');

    }


    // //////////    Pop up     //////////
    function popUp() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }

    () => {
      var popUp = document.querySelector('.popup').addEventListener('mouseover', () => {
        popUp.classList.toggle("toggle");
      })
    }


  </script>


  <%- include('includes/end.ejs') %>