<html lang="en">

<head>
    <title>All Conferences</title>
    <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
        integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <script>
        var sass = require('node-sass');
    </script>
    <%- include('includes/head.ejs') %>

</head>

<body>

    <style>
        body {
            padding: 40px 0;
            background-color: #f3ebf6;
        }

        .container{
            padding-top: 40px;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            grid-gap: 20px;
            align-items: stretch;
        }

        .grid>article {
            border: 1px solid #ccc;
            box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
            border-radius: 5em;
        }

        .grid>article img {
            max-width: 100%;
            border-top-left-radius: 5em;
            border-top-right-radius: 5em;
        }

        .grid .text {
            padding: 20px;
        }

        .btn{
            background: #0082e6;
            border: 1px solid #0082e6;
            border-radius: 5em;
        }

        .btn:hover{
            background: transparent;
            color: #0082e6;
            border-color: #0082e6;
        }
    </style>

    <%- include('includes/navigation.ejs') %>

    <div class="container">
<<<<<<< HEAD
        <% for (let conference of conferences) { %>
        <article class="card">
            <a href="#" class="card__link">

                <!-- Icon -->
                <div class="card__icon">
                    <svg viewbox="0 0 1129 994">
                        <g fill="none" fill-rule="nonzero" stroke="#999" stroke-width="41">
                            <path d="M564.5 212.437L95.67 873.5h937.66L564.5 212.437z" />
                            <path d="M564.5 407.47L163.638 973.5h801.724L564.5 407.47z" />
                            <path d="M564.5 35.409L39.699 774.5H1089.3L564.5 35.409z" />
                        </g>
                    </svg>
                </div>

                <!-- Media -->
                <div class="card__media">
                    <svg viewbox="0 0 1129 994">
                        <g fill="none" fill-rule="nonzero" stroke="#F5F5F5" stroke-width="41">
                            <path d="M564.5 212.437L95.67 873.5h937.66L564.5 212.437z" />
                            <path d="M564.5 407.47L163.638 973.5h801.724L564.5 407.47z" />
                            <path d="M564.5 35.409L39.699 774.5H1089.3L564.5 35.409z" />
                        </g>
                    </svg>
                </div>

                <!-- Header -->
                <div class="card__header">
                    <h3 class="card__header-title"><%=conference.name%>
                    <p class="card__header-meta">Starts: <%=conference.startTime%></p>
                    <p class="card__header-meta">Ends: <%=conference.endTime%></p>
                    <p class="card__header-meta"><%=conference.description%></p>
                    <div class="card__header-icon">
                        <svg viewbox="0 0 28 25">
                            <path fill="#fff"
                                d="M13.145 2.13l1.94-1.867 12.178 12-12.178 12-1.94-1.867 8.931-8.8H.737V10.93h21.339z" />
                        </svg>
                    </div>
                </div>
                <div class="card__actions">
                    <a href="/<%= conference._id %>" class="btn">Details</a>
                </div>
            </a>
        </article>
        <% } %>
=======
        <main class="grid">
            <article>
                <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo">
                <div class="text">
                    <h3>First conference</h3>
                    <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
                    <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Details</a>
                </div>
            </article>
            <article>
                <img src="https://picsum.photos/600/400?image=1063" alt="Sample photo">
                <div class="text">
                    <h3>Second conference</h3>
                    <p>Dramatically engage seamlessly visualize quality intellectual capital without superior
                        collaboration and idea-sharing.</p>
                    <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Details</a>
                </div>
            </article>
            <article>
                <img src="https://picsum.photos/600/400?image=1056" alt="Sample photo">
                <div class="text">
                    <h3>Third conference</h3>
                    <p>Completely synergize resource taxing relationships via premier niche markets.</p>
                    <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Details</a>
                </div>
            </article>
            <article>
                <img src="https://picsum.photos/600/400?image=1050" alt="Sample photo">
                <div class="text">
                    <h3>Fourth conference</h3>
                    <p>Imagine jumping into that boat, and just letting it sail wherever the wind takes you...</p>
                    <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Details</a>
                </div>
            </article>
            <article>
                <img src="https://picsum.photos/600/400?image=1041" alt="Sample photo">
                <div class="text">
                    <h3>Fifth conference</h3>
                    <p>Holisticly predominate extensible testing procedures for reliable supply chains.</p>
                    <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Details</a>
                </div>
            </article>
            <article>
                <img src="https://picsum.photos/600/400?image=1015" alt="Sample photo">
                <div class="text">
                    <h3>Sixth conference</h3>
                    <p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
                    <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Details</a>
                </div>
            </article>
        </main>
    </div>
    </a>
    </article>

>>>>>>> e14563d71545506ffea4fef165540caa17460184
    </div>


</body>

</html>